{% extends 'base.html.twig' %}
{% block title %}Kapcsolat
{% endblock %}

{% block body %}
	<style>
		{
			# helper classes #
		}
		.w-full {
			width: 100%;
		}
		.w-50 {
			width: calc(100vw - 50%);
		}
	</style>
	<div class="d-flex justify-content-center w-full mt-3">
		<div class="mw-75 border p-2">
			<h3 class="text-center">Kapcsolat</h3>
			{{ form_start(contactForm) }}

			<div class="mb-3">
				{{ form_row(contactForm.name) }}
			</div>

			<div class="mb-3">
				{{ form_row(contactForm.email) }}
			</div>

			<div class="mb-3">
				{{ form_row(contactForm.message, { 'attr': {
					'rows': '3'
				}}) }}
			</div>

			<div class="mb-3">
				{{ form_row(contactForm.save) }}
			</div>
			{{ form_end(contactForm) }}
		</div>
	</div>
</div>{% endblock %}
