{% extends 'base.html.twig' %}
{% block title %}Kapcsolat
{% endblock %}

{% block body %}
	<style>
		{
			# helper classes #
		}
		.w-full {
			width: 100%;
		}
		.w-50 {
			width: calc(100vw - 50%);
		}
	</style>
	<div class="d-flex justify-content-center w-full mt-3">
		<div class="border-2 p-2">
			{{ form_start(contactForm, {
					'attr': {
						'class': 'form-control',
					}
			}) }}

			<h3 class="text-center">Kapcsolat</h3>

			<div class="mb-3">
				{{ form_label(contactForm.name, 'Neved')}}
				{{ form_row(contactForm.name, {
					'attr': {
						'class': 'form-control',
					}
			}) }}
			</div>

			<div class="mb-3">
				{{ form_label(contactForm.email, 'Email címed')}}
				{{ form_row(contactForm.email, {
					'attr': {
						'class': 'form-control',
						'label': false,
					}
			}) }}
			</div>

			<div class="mb-3">
				{{ form_label(contactForm.message, 'Üzenet szövege')}}
				{{ form_row(contactForm.message, { 
					'attr': {
						'class': 'form-control',
						'rows': '3'
					}
			}) }}
			</div>

			<div class="mb-3">
				{{ form_row(contactForm.save) }}
			</div>

			{{ form_rest(contactForm) }}

			{{ form_end(contactForm) }}
		</div>
	</div>
</div>{% endblock %}
